@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Koulen&display=swap');
@import url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css');

:root{
    --primary: #2B3A55;
    --secondary: #CE7777;
    --accent: #F2E5E5;
    --navigation-text-colour: #FFFFFF;
    --main-header-color: #FF0404;
    --icon-main-color: #231F20;

    --small: 0.5em;
    --medium: 1em;
    --large: 1.5em;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    background-color: var(--primary);
}

.bg-accent{
    background-color: var(--accent);
}

.main-header{
    margin-left: auto; margin-right:auto;
    width: fit-content; 
    color: var(--main-header-color); 
    border-bottom: var(--main-header-color) double 0.5em; 
    border-radius: 1em;
    font-size: 5em;
    margin-bottom: var(--medium);
}

.main-header h1{
    display: inline;
}

.accent-button{
    background-color: var(--secondary); 
    padding: 0.7em; 
    font-size: 2em; 
    border-radius: 32px;
}

.sub-header{
    font-size: 3em; 
    margin-bottom: var(--small)
}

.secondary-text{
    color: var(--accent);
}

.main-section{
    height: 100%; 
    width: 70%;
}

.info-section{
    height: 100%; 
    width: 30%;
}

.mb-sm{
    margin-bottom: var(--small) 
}
.mb-md{
    margin-bottom: var(--medium) 
}
.mb-lg{
    margin-bottom: var(--large) 
}

#train-main {
  display: grid;

  grid-template-columns: 2fr 1fr;

  grid-template-rows: auto;
  font-family: "Inter", monospace;

}

#train-main h2 {
  text-align: center;
}
#train-main h3 {
  text-decoration: underline;
  font-size: 2rem;
  font-weight: 700;

  padding-top: 2rem;
}
.train-profile h1 {
  text-align: center;
  color: red;
  font-size: 5em;
}
.train-profile img {
  margin: 0 auto;
  display: block;
}
.train-profile button {
  height: 9rem;
  width: 9rem;
  margin-top: var(--large);
  border-radius: 32px;
  background-color: var(--accent);
}

.train-profile button:hover {
  background-color: var(--accent)c3;
}
.description {
  background-color: var(--accent);
  min-height: 100vh;
  padding: 7rem 1.5rem;
 
}

.train-profile {
  text-align: center;
}


@media (max-width: 700px) {
  #train-main {
    display: grid;
  
    grid-template-columns: 1fr;
  
  }
  .train-profile {
    margin-bottom:var(--large);
  }
  
}

/* TODO: Fix scaling */
#home-content {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 80vh;
    min-width: 360px;
    min-height: 480px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

h1 {
    font-size: 4.5rem;
    font-family: koulen, "Century Gothic", Helvetica, Arial;
    font-weight: lighter;
}

#home-content > h1 {
    font-size: 4.5rem;
    font-family: koulen, "Century Gothic", Helvetica, Arial;
    text-align: center;
    color: var(--main-header-color);
}

#home-content > #home-options {
    display: table;
    margin: 0 auto;
}

#home-content > #home-options > a {
    color: var(--icon-main-color);
    background-color: var(--accent);
    padding: 2rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin: 2.2rem;
}

#home-content > #home-options > a:hover {
    background-color: antiquewhite;
}

#home-content > #home-options > a:active {
    background-color: white;
}

#home-content > #home-options > a > i {
    font-size: 9rem;
    padding: 2rem;
}

#home-content > #home-options > a > p {
    font-size: var(--medium);
    padding: var(--medium) ;
}

#liked-trains-page {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    gap: 10px;
}

#liked-trains-page > header {
    color: var(--main-header-color);
    grid-row: 1;
    height: fit-content;
    width: 100%;
}

#liked-trains-page > header > h1 {
    text-align: center;
    padding-top: 1rem;
    grid-column: 3/5;
    font-size: 4.2rem;
}

#liked-trains-page > #home-options {
    grid-row: 3;
    display: inline;
    border: 3px solid aqua;
}

#back-button, #settings-button {
    color: var(--navigation-text-colour);
    font-size: var(--large);

    background:none;
    border:none;
    outline:none;
    cursor:pointer;

    position: absolute;
    top: 3vh;
}

#back-button {
    left: 2vw;
    font-family: koulen, "Century Gothic", Helvetica, Arial;
}

#settings-button {
    right: 2vw;
}

#liked-train-image {
    height: 50vh;
    padding: 3rem;
}

#liked-profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 10%;
}

#liked-profile > hr {
    width: 100vw;
    border: 0;
}

#liked-profiles-navigation {
    display: inherit;
    justify-content: space-around;
}

#liked-profiles-navigation > a {
    margin: 0 7vw;
    background-color: var(--accent);
    border-radius: 1.3rem;
    text-align: center;
    padding: 0 6vmin;
}

.navigation-icons {
    font-size: 7vw;
    min-font-size: 18px;
    max-font-size: 20vmin;
    color: var(--icon-main-color);
}
