/* global styling rules */
:root{
    --primary: #2B3A55;
    --secondary: #CE7777;
    --accent: #F2E5E5;

    --small: 0.5em;
    --medium: 1em;
    --large: 1.5em;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--primary);
}

.bg-accent{
    background-color: var(--accent);
}

.main-header{
    margin-left: auto; margin-right:auto;
    width: fit-content; 
    color: #FF0404; 
    border-bottom: #FF0404 double 0.5em; 
    border-radius: 1em;
    font-size: 5em;
    margin-bottom: var(--medium);
}

.main-header h1{
    display: inline;
}

.accent-button{
    background-color: #CE7777; 
    padding: 0.7em; 
    font-size: 2em; 
    border-radius: 32px;
}

.sub-header{
    font-size: 3em; 
    margin-bottom: var(--small)
}

.secondary-text{
    color: #F2E5E5;
}

.main-section{
    height: 100%; 
    width: 70%;
}

.info-section{
    height: 100%; 
    width: 30%;
}

.mb-sm{
    margin-bottom: var(--small) 
}
.mb-md{
    margin-bottom: var(--medium) 
}
.mb-lg{
    margin-bottom: var(--large) 
}

#train-main {
  display: grid;

  grid-template-columns: 2fr 1fr;

  grid-template-rows: auto;
  font-family: "Inter", monospace;

}

#train-main h2 {
  text-align: center;
}
#train-main h3 {
  text-decoration: underline;
  font-size: 2rem;
  font-weight: 700;

  padding-top: 2rem;
}
.train-profile h1 {
  text-align: center;
  color: red;
  font-size: 5em;
}
.train-profile img {
  margin: 0 auto;
  display: block;
}
.train-profile button {
  height: 9rem;
  width: 9rem;
  margin-top: var(--large);
  border-radius: 32px;
  background-color: var(--accent);
}

.train-profile button:hover {
  background-color: #f2e5e5c3;
}
.description {
  background-color: var(--accent);
  min-height: 100vh;
  padding: 7rem 1.5rem;
 
}

.train-profile {
  text-align: center;
}


@media (max-width: 700px) {
  #train-main {
    display: grid;
  
    grid-template-columns: 1fr;
  
  }
  .train-profile {
    margin-bottom:var(--large);
  }
  
}